h1 {
    color: rgb(231, 101, 14);
}

.headings {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(85, 189, 125);
}

.description {
    color: rgb(78, 64, 64);
}

p, li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}

.ingredients li {
    font-size: 22px;
    color: rgb(146, 115, 29);
}

.steps {
    display: inline-block;
    border: 4px double black; 
    background-color: rgb(148, 191, 247);
    padding: 12px;
    height: 350px;
    width: 600px;
    vertical-align: top;
}

.steps .headings {
    color: rgb(207, 60, 109);
}